{extend name="common/layout" /}

{block name="main"}
<style>
    .lmLeft {
        float: left;
        width: 158px;
    }

    .lmLeftNav {
        min-height: 600px;
        _height: 600px;
        background: url(/static/images/3497870.jpg) repeat-y top;
    }

    .lmLeftBom {
        height: 15px;
        background: url(/static/images/3497871.jpg) no-repeat;
    }

    .lmLeftNav dl {
        overflow: hidden;
    }

    .lmLeftNav dl dt {
        width: 149px;
        height: 25px;
        line-height: 20px;
        cursor: pointer;
        margin-bottom: 3px;
        background: url(/static/images/3497864.jpg) no-repeat;
    }

    .lmLeftNav dl dt b {
        font-size: 12px;
        color: #032A79;
        padding-left: 30px;
    }

    /*
    .lmLeftNav dl dd a
    {
        color:#434343;
        display:block;
        width:110px;
        height:24px;
        line-height:24px;
        font-size:12px;
        margin-bottom:3px;
        margin-left:10px;
        padding-left:10px;
        border-bottom:1px #BEBEBE solid;
        background:url(3497866.gif) no-repeat 0;
    }
    */

    .lmLeftNav dl dd a {
        color: #434343;
        display: block;
        width: 100px;
        padding: 3px 0;
        line-height: 20px;
        font-size: 12px;
        margin-bottom: 3px;
        margin-left: 10px;
        padding-left: 10px;
        border-bottom: 1px #BEBEBE solid;
        background: url(/static/images/3497866.gif) no-repeat 0;
    }

    .lmLeftNav dl dd a:hover {
        color: #787878;
    }

    .lmRight {
        width: 790px;
        float: right;
    }


    .lmRight dl dt {
        color: #840000;
        font-size: 18px;
        padding-top: 30px;
    }

    .lmRight dl dd {
        font-size: 12px;
        line-height: 26px;
    }

    .lmRight dl dd span {
        color: #032A79;
    }

    .lmRight dl dd a {
        color: #434343;
    }

    .lmRight dl dd a:hover {
        color: #787878;
    }

    .fpage {
        font-size: 12px;
        padding: 10px;
        text-align: center;
    }

    .imgInfo {
        top: 30px;
        right: 60px;
        width: 200px;
        background: url(/static/images/3497868.gif) repeat-x;
        border: 1px #699EC7 solid;
    }

    .imgInfo h3 {
        color: #840000;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
        background: url(/static/images/3497869.gif) no-repeat 5px center;
    }

    .imgInfo ul li {
        float: left;
        display: inline;
        padding: 0 0 9px 9px;
    }

    .imgInfo ul li p {
        margin: 0;
        padding: 0;
        line-height: 20px;
    }

    .imgInfo ul li a {
        font-size: 12px;
        color: #434343;
    }

    .imgInfo ul li a:hover {
        color: #787878;
    }

    .infoMore {
        clear: both;
        height: 30px;
        line-height: 30px;
        text-align: right;
        padding: 0 20px;
    }

    .infoMore a {
        font-size: 12px;
        color: #032A79;
    }
</style>
<div class="listMain">


    <div class="lmLeft">
        {include file="common/lmLeftNav"}
        <div class="lmLeftBom"></div>
    </div>


    <script language="javascript">var __$nodeid = '4904351';</script>


    <div class="lmRight relative">


        <div class="" style="margin-top: 20px;">
            <a href="/" class="xinwen-2">首页</a>&nbsp;&gt;
            <a href="#" class="xinwen-2">各地警务</a>
        </div>


        <p style="margin-bottom: 10px"><b> 各地警务 </b></p>


        <span id="comp_3497341">

 <dl>
<dd style="line-height:20px"><span>( 2019-03-01 )</span> <a href="#"
>各地铁路民警服务春运保障旅客安全出行</a></dd>
<dd style="line-height:20px"><span>( 2019-02-27 )</span> <a href="#"
>山东公安持续推动基层基础内涵式发展</a></dd>
<dd style="line-height:20px"><span>( 2019-02-24 )</span> <a href="#"
>北京市公安局掀起学习宣传贯彻习近平总书记看望慰问时的重要讲话精神热潮</a></dd>
<dd style="line-height:20px"><span>( 2019-02-21 )</span> <a href="#"
>黑龙江“六大工程”夯实公安工作高质量发展根基</a></dd>
<dd style="line-height:20px"><span>( 2019-02-20 )</span> <a href="#"
>江西“放管服”推出“123”新政</a></dd>
<dd style="line-height:20px"><span>( 2019-02-20 )</span> <a href="#"
>甘肃扎实做好春运交通安保</a></dd>
<dd style="line-height:20px"><span>( 2019-02-20 )</span> <a href="#"
>浙江平安建设升级群众安全感“六连升”</a></dd>
<dd style="line-height:20px"><span>( 2019-02-11 )</span> <a href="#"
>各地公安机关全力以赴完成春节假期安保工作</a></dd>
<dd style="line-height:20px"><span>( 2019-02-10 )</span> <a href="#"
>各地公安厅局长赴基层检查指导节日安保工作</a></dd>
<dd style="line-height:20px"><span>( 2019-02-09 )</span> <a href="#"
>各地党政领导督导节日安保工作慰问一线公安民警</a></dd>
<dd style="line-height:20px"><span>( 2019-02-08 )</span> <a href="#"
>各地党政领导督导节日安保工作慰问一线公安民警</a></dd>
<dd style="line-height:20px"><span>( 2019-02-08 )</span> <a href="#"
>各地公安厅局长赴基层检查指导节日安保工作</a></dd>
<dd style="line-height:20px"><span>( 2019-02-05 )</span> <a href="#"
>各地公安民警节日坚守岗位守护百姓平安</a></dd>
<dd style="line-height:20px"><span>( 2019-02-01 )</span> <a href="#"
>各地多措并举全力做好春节安保工作</a></dd>
<dd style="line-height:20px"><span>( 2019-01-27 )</span> <a href="#"
>各地深入学习贯彻中央政法工作会议和全国公安厅局长会议精神</a></dd>
<dd style="line-height:20px"><span>( 2019-01-24 )</span> <a href="#"
>各地深入学习贯彻中央政法工作会议和全国公安厅局长会议精神</a></dd>
<dd style="line-height:20px"><span>( 2019-01-23 )</span> <a href="#"
>各地深入学习贯彻中央政法工作会议和全国公安厅局长会议精神</a></dd>
<dd style="line-height:20px"><span>( 2019-01-22 )</span> <a href="#"
>北京警方破获特大跨境地下钱庄案</a></dd>
<dd style="line-height:20px"><span>( 2019-01-17 )</span> <a href="#"
>履职尽责彰显忠诚底色 担当作为谱写崭新篇章</a></dd>
<dd style="line-height:20px"><span>( 2019-01-17 )</span> <a href="#"
>坚持党的绝对领导 开创公安工作新局面</a></dd>
<dd style="line-height:20px"><span>( 2019-01-11 )</span> <a href="#"
>各地“110宣传日”活动形式多样</a></dd>
<dd style="line-height:20px"><span>( 2019-01-10 )</span> <a href="#"
>公共交通安全大格局之“北京经验”</a></dd>
<dd style="line-height:20px"><span>( 2019-01-10 )</span> <a href="#"
>上海“智慧”疏导</a></dd>
<dd style="line-height:20px"><span>( 2019-01-10 )</span> <a href="#"
>福建漳州110永远做“人民的110”</a></dd>
<dd style="line-height:20px"><span>( 2018-12-06 )</span> <a href="#"
>上海以练为战提升特警能力水平</a></dd>
</dl>


 </span>
        <div class="fpage" style="text-align:left">
            <table width="100%" height="30" align="center" border="0" cellspacing="0"
                   cellpadding="0">
                <tbody>
                <tr>
                    <td id="pag_3497341"><font color="red">1</font>&nbsp;<a
                            href="javascript:pageName=305;goPub('../../n2253534/n4904351/index_3497341_305.html')"
                            target="_self">2</a>&nbsp;<a
                            href="javascript:pageName=304;goPub('../../n2253534/n4904351/index_3497341_304.html')"
                            target="_self">3</a>&nbsp;<a
                            href="javascript:pageName=303;goPub('../../n2253534/n4904351/index_3497341_303.html')"
                            target="_self">4</a>&nbsp;<a
                            href="javascript:pageName=302;goPub('../../n2253534/n4904351/index_3497341_302.html')"
                            target="_self">5</a>&nbsp;<a
                            href="javascript:pageName=301;goPub('../../n2253534/n4904351/index_3497341_301.html')"
                            target="_self">6</a>&nbsp;<a
                            href="javascript:pageName=300;goPub('../../n2253534/n4904351/index_3497341_300.html')"
                            target="_self">7</a>&nbsp;<a
                            href="javascript:pageName=299;goPub('../../n2253534/n4904351/index_3497341_299.html')"
                            target="_self">8</a>&nbsp;<a
                            href="javascript:pageName=298;goPub('../../n2253534/n4904351/index_3497341_298.html')"
                            target="_self">9</a>&nbsp;<a
                            href="javascript:pageName=297;goPub('../../n2253534/n4904351/index_3497341_297.html')"
                            target="_self">10</a>&nbsp;<a
                            href="javascript:pageName=305;goPub('../../n2253534/n4904351/index_3497341_305.html')"
                            target="_self">下页</a>&nbsp;<a
                            href="javascript:pageName=1;goPub('../../n2253534/n4904351/index_3497341_1.html')"
                            target="_self">尾页</a>&nbsp;总页数:306
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="clear:both"></div>
        <div style="display:none"><a href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a><a
                href="#"></a></div>

    </div>


    <div class="clear"></div>
</div>
{/block}