<style>
    .footer dl dd p{margin:0;padding:0;line-height:24px;}
</style>
<div class="footer">
    <div style="margin:0 auto;">
        <dl>
            <dd style="padding-bottom:10px;">
                <div style="width: 700px;margin:0 auto;">
                    <div style="float:left;padding-right:26px">
                        <img src="/static/images/red.png" alt="">
                    </div>
                    <div style="float:left;font-size:12px;text-align:center;padding-top:10px;">
                        <p>版权所有：中华人民共和国公安部　地址：北京市东长安街14号　邮编：100741</p>
                        <p><a href="#">京ICP备05070602号</a>　<a href="#" style="text-decoration:none;"><img src="/static/images/5692312.png" style="vertical-align:middle;" border="0"><font color="#333333"> 京公网安备 11010102000001号</font></a >　网站标识码：bm09000013</p>

                    </div>
                    <div style="float:left;padding-top:5px; padding-left:26px">
                        <img src="http://121.43.68.40/exposure/images/jiucuo.png?v=bm09000013" alt="">
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </dd>
        </dl>
    </div>
</div>