<div class="new_dh">
    <!--<div class="new_dh" style="background: url(http://www.mps.gov.cn/dbsource/4939596/5820515.jpg) no-repeat;">-->
    <div class="new_xxgk new_pos">
        <a href="#">公安要闻</a>
        <a href="#">工作动态</a>
        <a href="{:url('gdjw')}">各地警务</a>
        <a href="#">新闻发布</a>
        <a href="#">图片新闻</a>
        <a href="#">通知公告</a>
        <a href="#">政策法规</a>
        <a href="#">人事信息</a>
    </div>
    <div class="new_bsfw new_pos">
        <a href="#">办事指南</a>
        <!--<a href=http://app.mps.gov.cn:8090/consult/index.jsp?category=14>办事咨询</a>-->
        <a href="#">办事咨询</a>
        <a href="#">结果公示</a>
        <a href="#" >热点问题</a>
    </div>
    <div class="new_jmhd new_pos">
        <a href="#">嘉宾访谈</a>
        <!--<a href=http://app.mps.gov.cn:8090/consult/index.jsp?category=2 >警事咨询</a>-->
        <a href="#" >警事咨询</a>
        <a href="#">调查征集</a>
        <a href="#">投诉举报</a>
    </div>
    <div style="position:absolute; left:778px; top:15px;">
        <form id="form1" name="form1" action="http://app.mps.gov.cn:8180/searchweb/search.jsp" method="post" >
            <input name="fullText" type="text" style="width:110px; border:0;" />
            <input name="sortType" type="hidden" value="1" />
            <input name="sortKey" type="hidden" value="publishtime" />
            <input name="sortFlag" type="hidden" value="-1" />
        </form>
    </div>
    <a href="#" class="new_ss_a" onclick="form1.submit();">搜索</a>
    <a href="#" class="new_gjss_a">高级搜索</a>
    <a href="#" class="new_xxgk_a">信息公开</a>
    <a href="#" class="new_bsfw_a">办事服务</a>
    <a href="#" class="new_jmhd_a">警民互动</a>
</div>